/* .queen-card {
    border: 1px, black, solid;
} */

.pic {
    width: 100px;
    height: auto;
}

.list-item {
    list-style-type: none;
    color: black;
    display: inline-flex;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
  }

  .queensList {
      display: flex;
      flex-wrap: wrap;
  }
